[user]
	# TODO: Move outside this file
	name = ojizero
	email = z.acnts.816@pm.me

[alias]
	s = status --short --branch
	sl = status

	a = add
	ac = add .

	cl = clone

	co = checkout
	cob = checkout -b

	c = commit
	cm = commit --message
	cam = commit --all --message
	caa = commit --all --amend --no-edit
	am = commit --amend
	amm = commit --amend --message

	pl = pull
	ps = push
	psf = push --force
	pso = push --set-upstream origin HEAD

	st = stash
	sp = stash push
	sa = stash pop
	sl = stash list

	b = branch

	d = diff
	dn = !git --no-pager diff --name-only

	l = !git --no-pager log -1
	ll = log

	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi >> .gitignore"

	ri = rebase -i
	remaster = rebase master
