---
services:
  adguard-home:
    container_name: adguard
    image: adguard/adguardhome:v0.107.71
    restart: unless-stopped
    volumes:
      - ./.home/conf:/opt/adguardhome/conf
      - ./.home/work:/opt/adguardhome/work
    tmpfs:
      - /opt/adguardhome/logs
    expose:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
    network_mode: host
