---
services:
  docker-proxy:
    container_name: docker-proxy
    image: linuxserver/socket-proxy:3.2.12-r0-ls69
    restart: unless-stopped
    environment:
      - CONTAINERS=1
      - NETWORKS=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    tmpfs:
      - /run
    read_only: true
    expose:
      - "2375"
    networks:
      - dockernet

networks:
  dockernet:
    name: admin-dockernet
    driver: bridge
    internal: true
